.el-card__body {
  min-width: 900px;
}

/* 缓存卡的样式重置 */
.tabs .el-tabs__nav-scroll{
  margin-bottom: 12px;
}
.tabs .el-tabs--card>.el-tabs__header{
  border-bottom: none;
}
.tabs .el-tabs--card>.el-tabs__header .el-tabs__item{
  border-bottom: none;
  background: #fff;
  margin-right:6px;
}
.tabs .el-tabs--card>.el-tabs__header .el-tabs__nav{
  border:none;
}

/* 输入框 */
.el-input__inner{
  width: 300px;
}

.dialog .el-form-item__content {
  float: left;
}
.el-pagination__editor.el-input .el-input__inner{
  width: 40px;
}
.el-form-item{
  margin-bottom: 10px;
}